<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="title">Bulldog Photo - Kobieca fotografia</title>
    <link rel="icon" href="/static/icons/bulldog.png" type="image/png">
    <script src="https://kit.fontawesome.com/3b077a2880.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/insta-fb-link-icons.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/images.css">
    <link rel="stylesheet" href="/static/css/cennik-scroll.css">
    <link rel="stylesheet" href="/static/css/cennik-animation.css">
    <link rel="stylesheet" href="/static/css/home-page.css">
</head>
<body class="lapka">
<div class="container">
    <a class="a" href="https://www.instagram.com/mr_shyian/"><i class="fab fa-instagram i"></i></a>
    <a class="a" href="https://www.facebook.com/vlad.shiyan.37"><i class="fab fa-facebook-f i"></i></a>
</div>
<div class="header">
    <div>
        <a class="main-page-a" href="/main"><h1 class="main-page-h1">Główna</h1></a>
        <a class="cennik-a" href="/cennik"><h1 class="cennik-h1">Cennik</h1></a>
        <a class="kontakt-a" href="/kontakt"><h1 class="kontakt-h1">Kontakt</h1></a>
        <a class="o_nas-a" href="/o_nas"><h1 class="o_nas-h1">O nas</h1></a>
    </div>

        <select class="select">
            <option  value="pl" selected>PL</option>
            <option class="option" value="en">EN</option>
            <option class="option" value="ru">RU</option>
        </select>

</div>



{% block content %}{% endblock %}

</body>
</html>