{% extends 'header.html' %}
{% block content %}
<div class="o_nas_text">
    <br>
    <h1 style="text-align:center" class="naglowek">Albumy</h1>

    <div class="row">
        <!--------------------------------------------OLYA----------------------------------------------------------------->
        <div class="column container-home-page">
            <img alt="loading..." src=/static/images/Olya/1.JPG style="width:100%"
                 onclick="openModal('myModal1');currentSlide(1, 1)"
                 class="hover-shadow cursor">
            <div class="overlay-home-page">
                <div class="text Olya">Olya</div>
            </div>
        </div>

        <div id="myModal1" class="modal">
            <span class="close" onclick="closeModal('myModal1')">&times;</span>
            <div class="modal-content">
                <div class="mySlides olya-studio29">
                    <div class="numbertext">1/13</div>
                    <img alt="loading..." src=/static/images/Olya/1.JPG style="width:100%">
                </div>

                <div class="mySlides olya-studio29">
                    <div class="numbertext">2/13</div>
                    <img alt="loading..." src=/static/images/Olya/2.JPG style="width:100%">
                </div>

                <div class="mySlides olya-studio29">
                    <div class="numbertext">3/13</div>
                    <img alt="loading..." src=/static/images/Olya/3.JPG style="width:100%">
                </div>

                <div class="mySlides olya-studio29">
                    <div class="numbertext">4/13</div>
                    <img alt="loading..." src=/static/images/Olya/4.JPG style="width:100%">
                </div>

                <div class="mySlides olya-studio29">
                    <div class="numbertext">5/13</div>
                    <img alt="loading..." src=/static/images/Olya/5.JPG style="width:100%">
                </div>

                <div class="mySlides olya-studio29">
                    <div class="numbertext">6/13</div>
                    <img alt="loading..." src=/static/images/Olya/6.JPG style="width:100%">
                </div>

                <div class="mySlides olya-studio29">
                    <div class="numbertext">7/13</div>
                    <img alt="loading..." src=/static/images/Olya/7.JPG style="width:100%">
                </div>

                <div class="mySlides olya-studio29">
                    <div class="numbertext">8/13</div>
                    <img alt="loading..." src=/static/images/Olya/8.JPG style="width:100%">
                </div>
                <div class="mySlides olya-studio29">
                    <div class="numbertext">9/13</div>
                    <img alt="loading..." src=/static/images/Olya/9.JPG style="width:100%">
                </div>
                <div class="mySlides olya-studio29">
                    <div class="numbertext">10/13</div>
                    <img alt="loading..." src=/static/images/Olya/10.JPG style="width:100%">
                </div>
                <div class="mySlides olya-studio29">
                    <div class="numbertext">11/13</div>
                    <img alt="loading..." src=/static/images/Olya/11.JPG style="width:100%">
                </div>
                <div class="mySlides olya-studio29">
                    <div class="numbertext">12/13</div>
                    <img alt="loading..." src=/static/images/Olya/13.JPG style="width:100%">
                </div>
                <div class="mySlides olya-studio29">
                    <div class="numbertext">13/13</div>
                    <img alt="loading..." src=/static/images/Olya/14.JPG style="width:100%">
                </div>
                <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
            </div>
        </div>

        <!--------------------------------------------DASHA----------------------------------------------------------------->
        <div class="column container-home-page">
            <img alt="loading..." src=/static/images/Dasha/1.JPG style="width:100%"
                 onclick="openModal('myModal2');currentSlide(1, 2)"
                 class="hover-shadow cursor">
            <div class="overlay-home-page">
                <div class="text Dasha">Dasha</div>
            </div>
        </div>

        <div id="myModal2" class="modal">
            <span class="close" onclick="closeModal('myModal2')">&times;</span>
            <div class="modal-content">
                <div class="mySlides dasha-studio29">
                    <div class="numbertext">1/11</div>
                    <img alt="loading..." src=/static/images/Dasha/1.JPG style="width:100%">
                </div>

                <div class="mySlides dasha-studio29">
                    <div class="numbertext">2/11</div>
                    <img alt="loading..." src=/static/images/Dasha/2.JPG style="width:100%">
                </div>

                <div class="mySlides dasha-studio29">
                    <div class="numbertext">3/11</div>
                    <img alt="loading..." src=/static/images/Dasha/3.JPG style="width:100%">
                </div>

                <div class="mySlides dasha-studio29">
                    <div class="numbertext">4/11</div>
                    <img alt="loading..." src=/static/images/Dasha/4.JPG style="width:100%">
                </div>

                <div class="mySlides dasha-studio29">
                    <div class="numbertext">5/11</div>
                    <img alt="loading..." src=/static/images/Dasha/5.JPG style="width:100%">
                </div>
                <div class="mySlides dasha-studio29">
                    <div class="numbertext">6/11</div>
                    <img alt="loading..." src=/static/images/Dasha/6.JPG style="width:100%">
                </div>
                <div class="mySlides dasha-studio29">
                    <div class="numbertext">7/11</div>
                    <img alt="loading..." src=/static/images/Dasha/7.JPG style="width:100%">
                </div>
                <div class="mySlides dasha-studio29">
                    <div class="numbertext">8/11</div>
                    <img alt="loading..." src=/static/images/Dasha/8.JPG style="width:100%">
                </div>
                <div class="mySlides dasha-studio29">
                    <div class="numbertext">9/11</div>
                    <img alt="loading..." src=/static/images/Dasha/9.JPG style="width:100%">
                </div>
                <div class="mySlides dasha-studio29">
                    <div class="numbertext">10/11</div>
                    <img alt="loading..." src=/static/images/Dasha/10.JPG style="width:100%">
                </div>
                <div class="mySlides dasha-studio29">
                    <div class="numbertext">11/11</div>
                    <img alt="loading..." src=/static/images/Dasha/11.JPG style="width:100%">
                </div>
                <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
            </div>
        </div>

        <!--------------------------------------------ALYONA----------------------------------------------------------------->
        <div class="column container-home-page">
            <img alt="loading..." src=/static/images/Alyona/1.JPG style="width:100%"
                 onclick="openModal('myModal3');currentSlide(1, 3)"
                 class="hover-shadow cursor">
            <div class="overlay-home-page">
                <div class="text Alyona">Alyona</div>
            </div>
        </div>

        <div id="myModal3" class="modal">
            <span class="close" onclick="closeModal('myModal3')">&times;</span>
            <div class="modal-content">
                <div class="mySlides alyona-studio29">
                    <div class="numbertext">1/12</div>
                    <img alt="loading..." src=/static/images/Alyona/1.JPG style="width:100%">
                </div>

                <div class="mySlides alyona-studio29">
                    <div class="numbertext">2/12</div>
                    <img alt="loading..." src=/static/images/Alyona/2.JPG style="width:100%">
                </div>

                <div class="mySlides alyona-studio29">
                    <div class="numbertext">3/12</div>
                    <img alt="loading..." src=/static/images/Alyona/3.JPG style="width:100%">
                </div>

                <div class="mySlides alyona-studio29">
                    <div class="numbertext">4/12</div>
                    <img alt="loading..." src=/static/images/Alyona/4.JPG style="width:100%">
                </div>

                <div class="mySlides alyona-studio29">
                    <div class="numbertext">5/12</div>
                    <img alt="loading..." src=/static/images/Alyona/5.JPG style="width:100%">
                </div>
                <div class="mySlides alyona-studio29">
                    <div class="numbertext">6/12</div>
                    <img alt="loading..." src=/static/images/Alyona/6.JPG style="width:100%">
                </div>
                <div class="mySlides alyona-studio29">
                    <div class="numbertext">7/12</div>
                    <img alt="loading..." src=/static/images/Alyona/7.JPG style="width:100%">
                </div>
                <div class="mySlides alyona-studio29">
                    <div class="numbertext">8/12</div>
                    <img alt="loading..." src=/static/images/Alyona/8.JPG style="width:100%">
                </div>
                <div class="mySlides alyona-studio29">
                    <div class="numbertext">9/12</div>
                    <img alt="loading..." src=/static/images/Alyona/9.JPG style="width:100%">
                </div>
                <div class="mySlides alyona-studio29">
                    <div class="numbertext">10/12</div>
                    <img alt="loading..." src=/static/images/Alyona/10.JPG style="width:100%">
                </div>
                <div class="mySlides alyona-studio29">
                    <div class="numbertext">11/12</div>
                    <img alt="loading..." src=/static/images/Alyona/11.JPG style="width:100%">
                </div>
                <div class="mySlides alyona-studio29">
                    <div class="numbertext">12/12</div>
                    <img alt="loading..." src=/static/images/Alyona/12.JPG style="width:100%">
                </div>
                <a class="prev" onclick="plusSlides(-1, 3)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 3)">&#10095;</a>
            </div>
        </div>

        <!--------------------------------------------SASHA----------------------------------------------------------------->
        <div class="column container-home-page">
            <img alt="loading..." src=/static/images/Sasha/2.jpg style="width:100%"
                 onclick="openModal('myModal4');currentSlide(1, 4)"
                 class="hover-shadow cursor">
            <div class="overlay-home-page">
                <div class="text Sasha">Sasha</div>
            </div>
        </div>

        <div id="myModal4" class="modal">
            <span class="close" onclick="closeModal('myModal4')">&times;</span>
            <div class="modal-content">
                <div class="mySlides sasha-studio29">
                    <div class="numbertext">1/12</div>
                    <img alt="loading..." src=/static/images/Sasha/1.jpg style="width:100%">
                </div>

                <div class="mySlides sasha-studio29">
                    <div class="numbertext">2/12</div>
                    <img alt="loading..." src=/static/images/Sasha/2.jpg style="width:100%">
                </div>

                <div class="mySlides sasha-studio29">
                    <div class="numbertext">3/12</div>
                    <img alt="loading..." src=/static/images/Sasha/3.jpg style="width:100%">
                </div>

                <div class="mySlides sasha-studio29">
                    <div class="numbertext">4/12</div>
                    <img alt="loading..." src=/static/images/Sasha/4.jpg style="width:100%">
                </div>

                <div class="mySlides sasha-studio29">
                    <div class="numbertext">5/12</div>
                    <img alt="loading..." src=/static/images/Sasha/5.jpg style="width:100%">
                </div>
                <div class="mySlides sasha-studio29">
                    <div class="numbertext">6/12</div>
                    <img alt="loading..." src=/static/images/Sasha/6.jpg style="width:100%">
                </div>
                <div class="mySlides sasha-studio29">
                    <div class="numbertext">7/12</div>
                    <img alt="loading..." src=/static/images/Sasha/7.jpg style="width:100%">
                </div>
                <div class="mySlides sasha-studio29">
                    <div class="numbertext">8/12</div>
                    <img alt="loading..." src=/static/images/Sasha/8.jpg style="width:100%">
                </div>
                <div class="mySlides sasha-studio29">
                    <div class="numbertext">9/12</div>
                    <img alt="loading..." src=/static/images/Sasha/9.jpg style="width:100%">
                </div>
                <div class="mySlides sasha-studio29">
                    <div class="numbertext">10/12</div>
                    <img alt="loading..." src=/static/images/Sasha/10.jpg style="width:100%">
                </div>
                <div class="mySlides sasha-studio29">
                    <div class="numbertext">11/12</div>
                    <img alt="loading..." src=/static/images/Sasha/11.jpg style="width:100%">
                </div>
                <div class="mySlides sasha-studio29">
                    <div class="numbertext">12/12</div>
                    <img alt="loading..." src=/static/images/Sasha/12.jpg style="width:100%">
                </div>
                <a class="prev" onclick="plusSlides(-1, 4)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 4)">&#10095;</a>
            </div>
        </div>

        <!--------------------------------------------JULIA----------------------------------------------------------------->
        <div class="column container-home-page">
            <img alt="loading..." src=/static/images/Julia/1.jpg style="width:100%"
                 onclick="openModal('myModal5');currentSlide(1, 5)"
                 class="hover-shadow cursor">
            <div class="overlay-home-page">
                <div class="text Julia">Julia</div>
            </div>
        </div>

        <div id="myModal5" class="modal">
            <span class="close" onclick="closeModal('myModal5')">&times;</span>
            <div class="modal-content">
                <div class="mySlides julia-studio29">
                    <div class="numbertext">1/7</div>
                    <img alt="loading..." src=/static/images/Julia/1.jpg style="width:100%">
                </div>

                <div class="mySlides julia-studio29">
                    <div class="numbertext">2/7</div>
                    <img alt="loading..." src=/static/images/Julia/2.jpg style="width:100%">
                </div>

                <div class="mySlides julia-studio29">
                    <div class="numbertext">3/7</div>
                    <img alt="loading..." src=/static/images/Julia/3.jpg style="width:100%">
                </div>

                <div class="mySlides julia-studio29">
                    <div class="numbertext">4/7</div>
                    <img alt="loading..." src=/static/images/Julia/4.jpg style="width:100%">
                </div>

                <div class="mySlides julia-studio29">
                    <div class="numbertext">5/7</div>
                    <img alt="loading..." src=/static/images/Julia/5.jpg style="width:100%">
                </div>
                <div class="mySlides julia-studio29">
                    <div class="numbertext">6/7</div>
                    <img alt="loading..." src=/static/images/Julia/6.jpg style="width:100%">
                </div>
                <div class="mySlides julia-studio29">
                    <div class="numbertext">7/7</div>
                    <img alt="loading..." src=/static/images/Julia/7.jpg style="width:100%">
                </div>
                <a class="prev" onclick="plusSlides(-1, 5)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 5)">&#10095;</a>
            </div>
        </div>
        <!--------------------------------------------DIANA----------------------------------------------------------------->
        <div class="column container-home-page">
            <img alt="loading..." src=/static/images/Diana/1.jpg style="width:100%"
                 onclick="openModal('myModal6');currentSlide(1, 6)"
                 class="hover-shadow cursor">
            <div class="overlay-home-page">
                <div class="text Diana">Diana</div>
            </div>
        </div>

        <div id="myModal6" class="modal">
            <span class="close" onclick="closeModal('myModal6')">&times;</span>
            <div class="modal-content">
                <div class="mySlides diana-studio29">
                    <div class="numbertext">1/12</div>
                    <img alt="loading..." src=/static/images/Diana/1.jpg style="width:100%">
                </div>

                <div class="mySlides diana-studio29">
                    <div class="numbertext">2/12</div>
                    <img alt="loading..." src=/static/images/Diana/2.jpg style="width:100%">
                </div>

                <div class="mySlides diana-studio29">
                    <div class="numbertext">3/12</div>
                    <img alt="loading..." src=/static/images/Diana/3.jpg style="width:100%">
                </div>

                <div class="mySlides diana-studio29">
                    <div class="numbertext">4/12</div>
                    <img alt="loading..." src=/static/images/Diana/4.jpg style="width:100%">
                </div>

                <div class="mySlides diana-studio29">
                    <div class="numbertext">5/12</div>
                    <img alt="loading..." src=/static/images/Diana/5.jpg style="width:100%">
                </div>
                <div class="mySlides diana-studio29">
                    <div class="numbertext">6/12</div>
                    <img alt="loading..." src=/static/images/Diana/6.jpg style="width:100%">
                </div>
                <div class="mySlides diana-studio29">
                    <div class="numbertext">7/12</div>
                    <img alt="loading..." src=/static/images/Diana/7.jpg style="width:100%">
                </div>
                <div class="mySlides diana-studio29">
                    <div class="numbertext">8/12</div>
                    <img alt="loading..." src=/static/images/Diana/8.jpg style="width:100%">
                </div>
                <div class="mySlides diana-studio29">
                    <div class="numbertext">9/12</div>
                    <img alt="loading..." src=/static/images/Diana/9.jpg style="width:100%">
                </div>
                <div class="mySlides diana-studio29">
                    <div class="numbertext">10/12</div>
                    <img alt="loading..." src=/static/images/Diana/10.jpg style="width:100%">
                </div>
                <div class="mySlides diana-studio29">
                    <div class="numbertext">11/12</div>
                    <img alt="loading..." src=/static/images/Diana/11.jpg style="width:100%">
                </div>
                <div class="mySlides diana-studio29">
                    <div class="numbertext">12/12</div>
                    <img alt="loading..." src=/static/images/Diana/12.jpg style="width:100%">
                </div>
                <a class="prev" onclick="plusSlides(-1, 6)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 6)">&#10095;</a>
            </div>
        </div>

        <!--------------------------------------------NASTYA----------------------------------------------------------------->
        <div class="column container-home-page">
            <img alt="loading..." src=/static/images/Nastya/3.jpg style="width:100%"
                 onclick="openModal('myModal7');currentSlide(1, 7)"
                 class="hover-shadow cursor">
            <div class="overlay-home-page">
                <div class="text Nastya">Nastya</div>
            </div>
        </div>

        <div id="myModal7" class="modal">
            <span class="close" onclick="closeModal('myModal7')">&times;</span>
            <div class="modal-content">
                <div class="mySlides nastya-studio29">
                    <div class="numbertext">1/12</div>
                    <img alt="loading..." src=/static/images/Nastya/1.jpg style="width:100%">
                </div>

                <div class="mySlides nastya-studio29">
                    <div class="numbertext">2/12</div>
                    <img alt="loading..." src=/static/images/Nastya/2.jpg style="width:100%">
                </div>

                <div class="mySlides nastya-studio29">
                    <div class="numbertext">3/12</div>
                    <img alt="loading..." src=/static/images/Nastya/3.jpg style="width:100%">
                </div>

                <div class="mySlides nastya-studio29">
                    <div class="numbertext">4/12</div>
                    <img alt="loading..." src=/static/images/Nastya/4.jpg style="width:100%">
                </div>
                <div class="mySlides nastya-studio29">
                    <div class="numbertext">5/12</div>
                    <img alt="loading..." src=/static/images/Nastya/5.jpg style="width:100%">
                </div>
                <div class="mySlides nastya-studio29">
                    <div class="numbertext">6/12</div>
                    <img alt="loading..." src=/static/images/Nastya/6.jpg style="width:100%">
                </div>
                <div class="mySlides nastya-studio29">
                    <div class="numbertext">7/12</div>
                    <img alt="loading..." src=/static/images/Nastya/7.jpg style="width:100%">
                </div>
                <div class="mySlides nastya-studio29">
                    <div class="numbertext">8/12</div>
                    <img alt="loading..." src=/static/images/Nastya/8.jpg style="width:100%">
                </div>
                <div class="mySlides nastya-studio29">
                    <div class="numbertext">9/12</div>
                    <img alt="loading..." src=/static/images/Nastya/9.jpg style="width:100%">
                </div>
                <div class="mySlides nastya-studio29">
                    <div class="numbertext">10/12</div>
                    <img alt="loading..." src=/static/images/Nastya/10.jpg style="width:100%">
                </div>
                <div class="mySlides nastya-studio29">
                    <div class="numbertext">11/12</div>
                    <img alt="loading..." src=/static/images/Nastya/11.jpg style="width:100%">
                </div>
                <a class="prev" onclick="plusSlides(-1, 7)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 7)">&#10095;</a>
            </div>
        </div>

        <!--------------------------------------------JEUGENIA----------------------------------------------------------------->
        <div class="column container-home-page">
            <img alt="loading..." src=/static/images/Jeugenia/10.JPG style="width:100%"
                 onclick="openModal('myModal8');currentSlide(1, 8)"
                 class="hover-shadow cursor">
            <div class="overlay-home-page">
                <div class="text Jeugenia">Jeugenia</div>
            </div>
        </div>

        <div id="myModal8" class="modal">
            <span class="close" onclick="closeModal('myModal8')">&times;</span>
            <div class="modal-content">
                <div class="mySlides jeugenia-studio29">
                    <div class="numbertext">1/12</div>
                    <img alt="loading..." src=/static/images/Jeugenia/1.JPG style="width:100%">
                </div>

                <div class="mySlides jeugenia-studio29">
                    <div class="numbertext">2/12</div>
                    <img alt="loading..." src=/static/images/Jeugenia/2.JPG style="width:100%">
                </div>

                <div class="mySlides jeugenia-studio29">
                    <div class="numbertext">3/12</div>
                    <img alt="loading..." src=/static/images/Jeugenia/3.JPG style="width:100%">
                </div>

                <div class="mySlides jeugenia-studio29">
                    <div class="numbertext">4/12</div>
                    <img alt="loading..." src=/static/images/Jeugenia/4.JPG style="width:100%">
                </div>
                <div class="mySlides jeugenia-studio29">
                    <div class="numbertext">5/12</div>
                    <img alt="loading..." src=/static/images/Jeugenia/5.JPG style="width:100%">
                </div>
                <div class="mySlides jeugenia-studio29">
                    <div class="numbertext">6/12</div>
                    <img alt="loading..." src=/static/images/Jeugenia/6.JPG style="width:100%">
                </div>
                <div class="mySlides jeugenia-studio29">
                    <div class="numbertext">7/12</div>
                    <img alt="loading..." src=/static/images/Jeugenia/7.JPG style="width:100%">
                </div>
                <div class="mySlides jeugenia-studio29">
                    <div class="numbertext">8/12</div>
                    <img alt="loading..." src=/static/images/Jeugenia/8.JPG style="width:100%">
                </div>
                <div class="mySlides jeugenia-studio29">
                    <div class="numbertext">9/12</div>
                    <img alt="loading..." src=/static/images/Jeugenia/9.JPG style="width:100%">
                </div>
                <div class="mySlides jeugenia-studio29">
                    <div class="numbertext">10/12</div>
                    <img alt="loading..." src=/static/images/Jeugenia/10.JPG style="width:100%">
                </div>
                <div class="mySlides jeugenia-studio29">
                    <div class="numbertext">11/12</div>
                    <img alt="loading..." src=/static/images/Jeugenia/11.JPG style="width:100%">
                </div>
                <a class="prev" onclick="plusSlides(-1, 8)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 8)">&#10095;</a>
            </div>
        </div>

        <!--------------------------------------------ALYONA----------------------------------------------------------------->
        <div class="column container-home-page">
            <img alt="loading..." src=/static/images/Alyona-S/1.jpg style="width:100%"
                 onclick="openModal('myModal9');currentSlide(1, 9)"
                 class="hover-shadow cursor">
            <div class="overlay-home-page">
                <div class="text Alyona-S">Alyona</div>
            </div>
        </div>

        <div id="myModal9" class="modal">
            <span class="close" onclick="closeModal('myModal9')">&times;</span>
            <div class="modal-content">
                <div class="mySlides alyona-s-studio29">
                    <div class="numbertext">1/11</div>
                    <img alt="loading..." src=/static/images/Alyona-S/1.jpg style="width:100%">
                </div>

                <div class="mySlides alyona-s-studio29">
                    <div class="numbertext">2/11</div>
                    <img alt="loading..." src=/static/images/Alyona-S/2.jpg style="width:100%">
                </div>

                <div class="mySlides alyona-s-studio29">
                    <div class="numbertext">3/11</div>
                    <img alt="loading..." src=/static/images/Alyona-S/3.jpg style="width:100%">
                </div>

                <div class="mySlides alyona-s-studio29">
                    <div class="numbertext">4/11</div>
                    <img alt="loading..." src=/static/images/Alyona-S/4.jpg style="width:100%">
                </div>

                <div class="mySlides alyona-s-studio29">
                    <div class="numbertext">5/11</div>
                    <img alt="loading..." src=/static/images/Alyona-S/5.jpg style="width:100%">
                </div>
                <div class="mySlides alyona-s-studio29">
                    <div class="numbertext">6/11</div>
                    <img alt="loading..." src=/static/images/Alyona-S/6.jpg style="width:100%">
                </div>
                <div class="mySlides alyona-s-studio29">
                    <div class="numbertext">7/11</div>
                    <img alt="loading..." src=/static/images/Alyona-S/7.jpg style="width:100%">
                </div>
                <div class="mySlides alyona-s-studio29">
                    <div class="numbertext">8/11</div>
                    <img alt="loading..." src=/static/images/Alyona-S/8.jpg style="width:100%">
                </div>
                <div class="mySlides alyona-s-studio29">
                    <div class="numbertext">9/11</div>
                    <img alt="loading..." src=/static/images/Alyona-S/9.jpg style="width:100%">
                </div>
                <div class="mySlides alyona-s-studio29">
                    <div class="numbertext">10/11</div>
                    <img alt="loading..." src=/static/images/Alyona-S/10.jpg style="width:100%">
                </div>
                <div class="mySlides alyona-s-studio29">
                    <div class="numbertext">11/11</div>
                    <img alt="loading..." src=/static/images/Alyona-S/11.jpg style="width:100%">
                </div>
                <a class="prev" onclick="plusSlides(-1, 9)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 9)">&#10095;</a>
            </div>
        </div>

        <!--------------------------------------------JULIA----------------------------------------------------------------->
        <div class="column container-home-page">
            <img alt="loading..." src=/static/images/JuliaSioma/5.jpg style="width:100%"
                 onclick="openModal('myModal10');currentSlide(1, 10)"
                 class="hover-shadow cursor">
            <div class="overlay-home-page">
                <div class="text Julia-sioma">Julia</div>
            </div>
        </div>

        <div id="myModal10" class="modal">
            <span class="close" onclick="closeModal('myModal10')">&times;</span>
            <div class="modal-content">
                <div class="mySlides julia-s-studio29">
                    <div class="numbertext">1/8</div>
                    <img alt="loading..." src=/static/images/JuliaSioma/1.jpg style="width:100%">
                </div>
                <div class="mySlides julia-s-studio29">
                    <div class="numbertext">2/8</div>
                    <img alt="loading..." src=/static/images/JuliaSioma/2.jpg style="width:100%">
                </div>
                <div class="mySlides julia-s-studio29">
                    <div class="numbertext">3/8</div>
                    <img alt="loading..." src=/static/images/JuliaSioma/3.jpg style="width:100%">
                </div>
                <div class="mySlides julia-s-studio29">
                    <div class="numbertext">4/8</div>
                    <img alt="loading..." src=/static/images/JuliaSioma/4.jpg style="width:100%">
                </div>
                <div class="mySlides julia-s-studio29">
                    <div class="numbertext">5/8</div>
                    <img alt="loading..." src=/static/images/JuliaSioma/5.jpg style="width:100%">
                </div>
                <div class="mySlides julia-s-studio29">
                    <div class="numbertext">6/8</div>
                    <img alt="loading..." src=/static/images/JuliaSioma/6.jpg style="width:100%">
                </div>
                <div class="mySlides julia-s-studio29">
                    <div class="numbertext">7/8</div>
                    <img alt="loading..." src=/static/images/JuliaSioma/7.jpg style="width:100%">
                </div>
                <div class="mySlides julia-s-studio29">
                    <div class="numbertext">8/8</div>
                    <img alt="loading..." src=/static/images/JuliaSioma/8.jpg style="width:100%">
                </div>
                <a class="prev" onclick="plusSlides(-1, 10)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 10)">&#10095;</a>
            </div>
        </div>

        <!--------------------------------------------ALYONA----------------------------------------------------------------->
        <div class="column container-home-page">
            <img alt="loading..." src=/static/images/Alyona-S1/1.jpg style="width:100%"
                 onclick="openModal('myModal11');currentSlide(1, 11)"
                 class="hover-shadow cursor">
            <div class="overlay-home-page">
                <div class="text Alyona-S1">Alyona</div>
            </div>
        </div>

        <div id="myModal11" class="modal">
            <span class="close" onclick="closeModal('myModal11')">&times;</span>
            <div class="modal-content">
                <div class="mySlides alyona-s1-studio29">
                    <div class="numbertext">1/5</div>
                    <img alt="loading..." src=/static/images/Alyona-S1/1.jpg style="width:100%">
                </div>
                <div class="mySlides alyona-s1-studio29">
                    <div class="numbertext">2/5</div>
                    <img alt="loading..." src=/static/images/Alyona-S1/2.jpg style="width:100%">
                </div>
                <div class="mySlides alyona-s1-studio29">
                    <div class="numbertext">3/5</div>
                    <img alt="loading..." src=/static/images/Alyona-S1/3.jpg style="width:100%">
                </div>
                <div class="mySlides alyona-s1-studio29">
                    <div class="numbertext">4/5</div>
                    <img alt="loading..." src=/static/images/Alyona-S1/4.jpg style="width:100%">
                </div>
                <div class="mySlides alyona-s1-studio29">
                    <div class="numbertext">5/5</div>
                    <img alt="loading..." src=/static/images/Alyona-S1/5.jpg style="width:100%">
                </div>
                <a class="prev" onclick="plusSlides(-1, 11)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 11)">&#10095;</a>
            </div>
        </div>
    </div>
</div>

<script>
    const langArr = {
        'naglowek': {
            'pl': 'Albumy',
            'en': 'Albums',
            'ru': 'Альбомы'
        },
        'Olya': {
            'pl': 'Olya',
            'en': 'Olya',
            'ru': 'Оля'
        },
        'Dasha': {
            'pl': 'Dasha',
            'en': 'Dasha',
            'ru': 'Даша'
        },
        'Alyona': {
            'pl': 'Alyona',
            'en': 'Alyona',
            'ru': 'Алёна'
        },
        'Sasha': {
            'pl': 'Sasha',
            'en': 'Sasha',
            'ru': 'Саша'
        },
        'Julia': {
            'pl': 'Julia',
            'en': 'Julia',
            'ru': 'Юля'
        },
        'Diana': {
            'pl': 'Diana',
            'en': 'Diana',
            'ru': 'Диана'
        },
        'Nastya': {
            'pl': 'Nastya',
            'en': 'Nastya',
            'ru': 'Настя'
        },
        'Jeugenia': {
            'pl': 'Jeugenia',
            'en': 'Jeugenia',
            'ru': 'Женя'
        },
        'Alyona-S': {
            'pl': 'Alyona',
            'en': 'Alyona',
            'ru': 'Алёна'
        },
        'Julia-sioma': {
            'pl': 'Julia',
            'en': 'Julia',
            'ru': 'Юля'
        },
        'Alyona-S1': {
            'pl': 'Alyona',
            'en': 'Alyona',
            'ru': 'Алёна'
        },
        'main-page-h1': {
            'pl': 'Główna',
            'en': 'Main page',
            'ru': 'Главня'
        },
        'cennik-h1': {
            'pl': 'Cennik',
            'en': 'Price list',
            'ru': 'Прайс'
        },
        'kontakt-h1': {
            'pl': 'Kontakt',
            'en': 'Contact',
            'ru': 'Контакт'
        },
        'o_nas-h1': {
            'pl': 'O nas',
            'en': 'About us',
            'ru': 'О нас'
        },
        'title': {
            'pl': 'Bulldog Photo - Kobieca fotografia',
            'en': 'Bulldog Photo - Women\'s photography',
            'ru': 'Bulldog Photo - Женская фотография'
        }
    };
    const allLang = ['ru', 'pl', 'en'];
    const select = document.querySelector('select');
    select.addEventListener('change', changeURLLanguage);
    console.log(select);

    function changeURLLanguage() {
        let lang = select.value;
        location.href = window.location.pathname + '#' + lang;
        location.reload();
    }

    function changeLanguage() {
        let hash = window.location.hash;
        hash = hash.substring(1);
        if (!allLang.includes(hash)) {
            location.href = window.location.pathname + '#pl';
            location.reload();
        }
        select.value = hash;
        for (let key in langArr) {
            document.querySelector('.' + key).innerHTML = langArr[key][hash];
        }
    }

    changeLanguage()

    let idNaglowka = document.getElementsByClassName('main-page-a')[0];
    idNaglowka.style.backgroundColor = '#737373';

    let idNaglowka1 = document.getElementsByClassName('main-page-h1')[0];
    idNaglowka1.style.color = "black";

    function openModal(myModal) {
        document.getElementById(myModal).style.display = "block";
    }

    function closeModal(myModal) {
        document.getElementById(myModal).style.display = "none";
    }

    let classname = "";
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n, m) {
        if (m === 1) {
            classname = "olya-studio29";
        } else if (m === 2) {
            classname = "dasha-studio29";
        } else if (m === 3) {
            classname = "alyona-studio29";
        } else if (m === 4) {
            classname = "sasha-studio29";
        } else if (m === 5) {
            classname = "julia-studio29";
        } else if (m === 6) {
            classname = "diana-studio29";
        } else if (m === 7) {
            classname = "nastya-studio29";
        } else if (m === 8) {
            classname = "jeugenia-studio29";
        } else if (m === 9) {
            classname = "alyona-s-studio29";
        } else if (m === 10) {
            classname = "julia-s-studio29";
        } else if (m === 11) {
            classname = "alyona-s1-studio29";
        }
        showSlides(slideIndex += n, classname);
    }

    function currentSlide(n, m) {
        if (m === 1) {
            classname = "olya-studio29";
        } else if (m === 2) {
            classname = "dasha-studio29";
        } else if (m === 3) {
            classname = "alyona-studio29";
        } else if (m === 4) {
            classname = "sasha-studio29";
        } else if (m === 5) {
            classname = "julia-studio29";
        } else if (m === 6) {
            classname = "diana-studio29";
        } else if (m === 7) {
            classname = "nastya-studio29";
        } else if (m === 8) {
            classname = "jeugenia-studio29";
        } else if (m === 9) {
            classname = "alyona-s-studio29";
        } else if (m === 10) {
            classname = "julia-s-studio29";
        } else if (m === 11) {
            classname = "alyona-s1-studio29";
        }
        showSlides(slideIndex = n, classname);
    }

    function showSlides(n, classname) {
        let i;
        let slides = document.getElementsByClassName(classname);


        if (n > slides.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }

        slides[slideIndex - 1].style.display = "block";

    }

</script>

{% endblock %}
